<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
  </head>
  <body>

    <h1>Index page</h1>
    <script
      src="https://cdn.socket.io/4.7.2/socket.io.min.js"
      integrity="sha384-jwrsvRaA1Z2uQDW+kVkPeXGKrT6WUzqshRkWiLqMOrSE7f+0VX3hRzAgygxQkk7c"
      crossorigin="anonymous"
    >
</script>

<script src="/js/chessGame.js"></script>

  </body>
</html>
