<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project1</title>
        <script src="https://cdn.tailwindcss.com"></script>


</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10  ">
        <h3 class="text-3xl mb-5">Create Account</h3>
        <form action="/register" method="post">
            <input type="text" name="name" id="name" placeholder="Enter your name" class="w-1/2 h-10 bg-zinc-800 text-white rounded-md p-2 mt-5 mb-5" />
            <input type="text" name="username" id="username" placeholder="Enter your username" class="w-1/2 h-10 bg-zinc-800 text-white rounded-md p-2 mt-5 mb-5" />
            <input type="number" name="age" id="age" placeholder="Enter your age" class="w-1/2 h-10 bg-zinc-800 text-white rounded-md p-2 mt-5 mb-5" />
            <input type="text" name="email" id="email" placeholder="Enter your email" class="w-1/2 h-10 bg-zinc-800 text-white rounded-md p-2 mt-5 mb-5" />
            <input type="text" name="password" id="password" placeholder="Enter your password" class="w-1/2 h-10 bg-zinc-800 text-white rounded-md p-2 mt-5 mb-5" />
            <input type="submit" value="Create Account" class=" w-1/2 px-3 py-2 h-10 bg-blue-600 text-white rounded-md p-2 mt-5 mb-5 cursor-pointer"/>
        </form>
    </div>
</body>
</html>